PermitRootLogin prohibit-password
AllowUsers me
PasswordAuthentication no
X11Forwarding no
AllowTcpForwarding yes
GatewayPorts yes
HostKey /opt/sshd/ssh_host_rsa_key
HostKey /opt/sshd/ssh_host_ecdsa_key
HostKey /opt/sshd/ssh_host_ed25519_key
MaxAuthTries 6
MaxSessions 1
PrintLastLog no
AddressFamily inet
LogLevel INFO
ForceCommand /usr/local/bin/ssh-welcome.sh